/* common style */
*{
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}
    

.container{
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner\ Image.png');
    background-color: #070211;
   
    
    width: 1320px;
height: 600px;
flex-shrink: 0;
border-radius: 16px;
text-align: center;
margin: auto ;


}
.banner-text{
    text-align: center;
    align-items: center;
}

.first{
    color: #FFF;
text-align: center;
font-size: 32px;
font-weight: 400;
padding-top: 167px ;
}
.second{
    color: #FFF;
text-align: center;
font-size: 72px;
width: 632px;
font-weight: 900;
padding-bottom: 900px;
line-height: 95px;
padding-left: 344px;
;
}


/* main */
.offer{
    margin-top: 180px ;
    width: 1600px;
height: 1000px;
background: #FFF;
padding-left: 149px;
text-align:center;
margin: auto;


}
.off{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-weight: 700;
}
.deals{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
}
.categories{
    color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.image-new-year{
    width: 802px;
    height: 500px;
}
.party-time{
    display: flex;
    
}
.party-time{
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
    width: 1320px;
height: 500px;
padding-top: 50px;
padding-left: 50px;
background-repeat: no-repeat;
border-radius: 10px;
margin: 0 auto;
justify-content: space-between;
}
.imge{
    width: 319.83px;
    height: 464.662px;
    padding: 0.008px 0px 0px 0px;
    flex-shrink: 0;
    padding-right: 90px;   
    }
.party{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    width: 642px; 
}
.party-description{
    color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
width: 697px;
}
.btn{
text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 700;
color: #FFF;
background-color: transparent;

}



/* place */
.place{
    width: 1320px;
height: 482px;
flex-shrink: 0;
/* color: #FF0000, #FF000000; */
background-color: rgba(255, 192, 192, 0.341);
margin:auto;
margin-top: 90px;
}
.date{
    
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; /* 175% */
    text-transform: capitalize;
   padding-top: 60px;
}
.color{
    color: #F00;
}
.btn-two{
    display: inline-flex;
padding: 16px 32px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: #F00;
color: #FFFFFF;
font-size: 20px;
font-weight: 700;
font-family: Inter;
border: 0;
}
/* new offer */
.new-offer{
    width: 1300px;
    height: 800px;
    background: #FFF;
    display: flex;
    margin: auto;
    padding-top: 200px;

}
#new-best-offer{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
#coming-soon-two{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
.para-one{
    width: 393px;
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px;
}
.ellipse{
    width: 463px;
height: 463px;
flex-shrink: 0;
    background-color: whitesmoke;
    border-radius: 50%;
border: 20px solid red;
margin-left: 50px;
padding: 40px;


}
.para-two{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px; 
width: 276px;
padding-left: 100px;
}
#para-two-title{
    color: #F00;
    font-family: Inter; 
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    padding-left: 100px;
}
.group-96{
    padding-left: 90px;
}
.coming-soon-soon{
    padding-top: 70px;
}
/* products */
.products{
    width: 1600px;
height: 1400px;
background: #FFF;
margin:auto;
}
.portfolio{
    margin: auto;
    width: 1400px;
    grid: 5px;
}
.best-gift{
    color: #F00;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
padding-top: 40px;
}
.awesome{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
       
}
.para-three{
    width: 898px;
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;

font-weight: 400;
line-height: 32px;

}

.photo{
    width: 424px;
    height: 450px;
}

.photos-one{
    display: flex;
    /* column-gap: 20px; */
    /* row-gap: 20px; */
    gap: 20px ;
    padding-bottom: 20px;
}
.photos{
    display: flex;
    gap: 20px ;
}

/* subscribe */
.message{
    width: 1200px;
    height: 550px;
    border-radius: 16px;
background: rgba(255, 0, 0, 0.05);
margin: auto;
text-align: center;
}
.email{
    width: 150px;
height: 150px;
flex-shrink: 0;
}
.subscribe{
    color: #070211;
text-align: center;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
.para-five{
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px;
padding-left: 150px;
}
.user{
     display: flex;
     padding-left: 320px;
}

#user-email{
    width: 348px;
height: 72px;
flex-shrink: 0;
border-radius: 50px 0px 0px 50px;
background: #FFF;
color: rgba(7, 2, 17, 0.30);
text-align: center;
font-family: Inter;
font-size: 18px;
font-weight: 400;
border: 0;
padding-left: 15px;
}
.btn4{
    width: 210px;
height: 72px;
flex-shrink: 0;
border-radius: 0px 50px 50px 0px;
background: #F00;
color: white;
text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 600;
text-transform: capitalize;
border: 0;
}
footer{
    width: 1600px;
height: 609px;
flex-shrink: 0;
background: #070211;
display: flex;
margin: auto;
}


.footer-para-one{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    padding-top: 120px; 
    padding-left: 140px;
    display: flex;
}
.last-para{
    font-family: Inter;
    
}
#call{
    
    padding-right: 5px;
}
.half-para{
    padding-left: 600px;
    font-family: Inter;
}
#web{
    padding-right: 10px;
    
}
.footer-para-two{
     display: flex;
    padding-left: 600px; 
    padding-bottom: 100px;
    text-align: center;
}
.footer-para-three{
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
padding-left: 160px;
display: flex;
justify-content: space-between;
}
.icon{
    width: 64px;
height: 64px;
flex-shrink: 0;
margin-top: 68px;
margin-left: 20px;
padding-left: 10px;
text-align: center;
}

.number{
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 40px; 
}

.unsubscribe{
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
padding-left: 300px;
}

