/* common style */
body{
    font-family: 'Merriweather', serif;
}
.container{
    background-image: url('../resources/Banner\ Image.png');
    background-color: #070211;
   
    
    width: 1320px;
height: 600px;
flex-shrink: 0;
border-radius: 16px;
text-align: center;
margin:auto ;
/* background-color:#070211, #07021100 ; */
/* background-blend-mode: multiply; */
/* opacity: 50; */
}
.banner-text{
    text-align: center;
}

.first{
    color: #FFF;
text-align: center;
font-size: 32px;
font-weight: 400;
padding-top: 237px ;
}
.second{
    color: #FFF;
text-align: center;
font-size: 72px;
width: 632px;
font-weight: 900;
padding-bottom: 583px;
line-height: 95px;
padding-left: 344px;
}


/* main */
.offer{
    margin-top: 180px ;
    width: 1600px;
height: 1000px;
background: #FFF;
padding-left: 149px;
text-align:center;
margin: auto;


}
.off{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-weight: 700;
}
.deals{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
}
.categories{
    color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.image-new-year{
    width: 802px;
    height: 500px;
}

.party-party{
    margin-left: 300px;
    
}
.party-one{
    background-image: url('../resources/Vectorrr.png');
    width: 1320px;
height: 600px;
flex-shrink: 0;
margin-left: 50px;
padding-top: 50px;
padding-left: 50px;
background-repeat: no-repeat;
}

.party{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;
    width: 642px; 
}
.party-description{
    color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
width: 697px;
}
.btn{
    /* color: ; */
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
color: #FFF;
background-color: gray;

}


.imge{
    /* display: flex; */
width: 319.83px;
height: 464.662px;
padding: 0.008px 0px 0px 0px;
flex-direction: column;
justify-content: center;
align-items: center;
flex-shrink: 0;
}

/* place */
.place{
    width: 1320px;
height: 482px;
flex-shrink: 0;
background-color: rgba(255, 0, 0, 0.10) ;
margin-left: 50px;
}
.date{
    /* color: #F00; */
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; /* 175% */
    text-transform: capitalize;
   padding-top: 60px;
}
.color{
    color: #F00;
}
.btn-two{
    display: inline-flex;
padding: 16px 32px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: #F00;
color: #FFFFFF;
font-size: 20px;
font-weight: 700;
font-family: Inter;
border: 0;
}
/* new offer */
.new-offer{
    width: 1600px;
    height: 1100px;
    background: #FFF;
    display: flex;
    margin: 50px;

}
#new-best-offer{
    color: #F00;
    /* text-align: center; */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
#coming-soon-two{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
.para-one{
    width: 393px;
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
}
.ellipse
